<section id="artists">
  {%- for artist in collections.artists -%}
  <div class="artist_sign">
    <a href={{ artist.url}} class="artist_sign_title">
      <h3>{{ artist.data.title }}</h3>
    </a>
    {% if artist.data.assets %}
    <div class="artist_sign_assets">
    should be rendered only if we have some assets
    </div>
    {% endif %}
    <div class="artist_sign_content">
      {{ artist.templateContent | safe }}
    </div>
    <div class="artist_sign_link">
      <a href={{ artist.data.link }}>{{artist.data.link}}</a>
    </div>
  </div>
  {%- endfor -%}
</section>