p=ProxySpace.push(s);
StageLimiter.activate;

~e = { (WhiteNoise.ar(0.3) + BrownNoise.ar(0.3))!2 };
~e.play;
~u = { BPF.ar(~e,SinOscFB.ar(0.5,feedback: SinOsc.kr(1).range(0.1,10), mul:XLine.kr(100,1000,100),add:XLine.kr(100,1000,100)),10) };
~u.play;

~t = { BPF.ar(~e,SinOscFB.ar(0.5,feedback: 0.4, mul:XLine.kr(100,5000,10),add:100),10) };
~t.play;

~y = { GVerb.ar(AllpassC.ar(Splay.ar(~t))) };
~y.play;

===

https://www.youtube.com/watch?v=MPqRIsFPUG0

===

Виктор Гуров родился в посёлке Управленческий Самарской области. 
Творческая география включает в себя Самару, Тольятти, Санкт-Петербург, Гетеборг, Москву и другие города.
С 2010-го по 2011-ый год сотрудничал с Михаилом Лёзиным в составе  группы Дя и Tekeningen.
С 2011-го года по настоящее время постоянный участник группы Контора Кука. 
В течении 2012-го года работает с лауреатом Премии Сергея Курёхина
Евгением Чертоплясовым над проектом Биоволк. 
Организатор фестиваля Гигиена Шума, проходившем в Самаре в 2011-м и в 2013-м годах.  
C 2017-го по 2019-ый год участник проекта VLG Lab художника Олега Елагина (Самара)
С 2019-го года - член союза художников Солярис (Тольятти).
С 2019-го года по настоящее время участвует в проекте Слепая комната совместно с Диной Жук, Анастасией Рябовой, Николаем Спесивцевым и другими. 
С 2012-го года по 2021-ый занимается  экспериментальной электронной музыкой в проекте Треугольный сон. 
С 2021-го года сосредоточен на сольном live-coding проекте Mark Silinio. 
