<div class="artist_sign">
  <div class="artist_sign_assets">
    should be rendered only if we have some assets
  </div>
  <div class="artist_sign_content">
    {{ content }}
  </div>
  <div class="artist_sign_link">
    {{ link }}
  </div>
</div>